<template>
<div class='container'>
  <div class='content'>
    <div><b>Cross & Family Fun Run</b><br />
      Association des parents<br />
      Ecole communale mixte de Beauvechain - La Bruyère<br />
      Rue de l'école 1<br />
      1320 Beauvechain<br />
      <span id='email' @load></span><br />
      <a href='https://www.facebook.com/events/389588984878963/?ti=cl'><img src='/static/facebook.png' /></a>
    </div>
  </div>
</div>
</template>
<script>
  import EmailObfuscate from 'email-obfuscate';
  export default {
    mounted () {
      this.hideEmail()
    },
    methods: {
      hideEmail () {
         var el = document.getElementById('email');
         console.log(el)
         EmailObfuscate(el, {
          // Email construct: name@domain.tld
          name: 'info',
          domain: 'familyfunrun',
          tld: 'be',
          // Alternate Text
          altText: 'Email'
        })
      }
    }
  }
</script>

<style lang='scss' scoped>
li {
  list-style: none;
}
.content {
  font-size: 24px;
  margin: auto;
  margin-top: 50px;
  border-radius: 7px;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 30px;
}
</style>
