<template>
  <div id='my-countdown'>
    Relax, il vous reste<br />
    <Countdown class='vuejs-countdown' deadline="October 7, 2018 10:30"></Countdown>
    pour vous entrainer.
  </div>
</template>

<script>
import Countdown from 'vuejs-countdown'

export default {
  components: { Countdown }
}
</script>
<style lang='scss'>
#my-countdown  {
  // background-color: #333d;
  background-color: rgba(51, 51, 51, 0.9);
  color: #fff;
  width: 400px;
  margin: auto;
  font-size: 14px;
  font-weight: bold;
  padding: 5px;
  border-radius: 10px;
}

.vuejs-countdown .digit {
  font-size: 10px;
  font-weight: 600;
  margin-bottom: 0;

.vuejs-countdown .text {
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 20px;
}
}</style>