<template>
  <div class='container'>
  </div>
</template>

<script>
export default {
  name: 'Footer',
  components: {
  }
}
</script>

<style lang="scss" scoped>
.container {
  background-color: #333;
  height: 0px;
}

a:hover, a:visited, a:link, a:active {
    color: #333;
    text-decoration: none;
}
</style>
