<template>
  <div class='container'>
    <my-menu></my-menu>
  </div>
</template>

<script>
import Countdown from '@/components/Countdown'
import Menu from '@/components/Menu'
export default {
  components: {
    'my-menu': Menu,
    'countdown': Countdown
  }
}
</script>

<style lang="scss" scoped>
h1, h2 {
  font-weight: normal;
}
</style>
