<template>
  <div id='container'>
    <div class="black-box">
      <div class='date'>Le 7 octobre 2018</div>
      <hr class='hr' />
      <div class='title'><img id='logo' src='../../static/logo_ffr.png'></div>
      <hr class='hr' />
      <div class='assoc-parents'>par l'Association des Parents de l'école de Beauvechain - La Bruyère</div>
    </div>
    <div class='spacer'>
    </div>
    <sponsors frontpage=true></sponsors>
  </div>
</template>

<script>
import Sponsors from '@/components/Sponsors'
export default {
  name: 'Home',
  components: {
    'sponsors': Sponsors
  },
  data () {
    return {
    }
  }
}
</script>

<style lang="scss" scoped>
#container {
  margin: 0 auto;
  height: auto;
  position: relative;
  border-radius: 7px;
  color: #fff;
  font-weight: bold;
  padding: 20px;
}

.black-box {
  // background-color: #333d;
  background-color: rgba(51, 51, 51, 0.9);
  color: #fff;
  width: 400px;
  margin: auto;
  font-weight: bold;
  padding: 20px;
  border-radius: 10px;
}

.hr {
  width: 80%;
}

.date {
  padding-top: 35px;
  padding-bottom: 35px;
  font-size: 40px;
}

.title {
  font-size: 70px;
}

.assoc-parents {
  font-size: 20px;
}

.spacer {
  height: 20px;
}
#logo {
  width: 400px;
}
</style>
