<template>
<div class='container'>
  <div class='race' id='amenities'>
    <h2>Informations pratiques</h2>
    <h3>Date</h3>
    <div class='practical_info'>Dimanche 7 octobre 2018</div>

    <h3>Lieu</h3>
    <div class='practical_info'>
      <p>Terrains de football du SC Beauvechain<br />
      route du Camp à 1320 Beauvechain</p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2523.7719257387816!2d4.7863026165791664!3d50.76126257951933!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c17aa9924ca587%3A0xc0979eeb47decdf0!2sSporting+Club+Beauvechain!5e0!3m2!1sen!2sbe!4v1529615848819" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

    <h3>Parking</h3>
    <div class='practical_info'>Grand parking a proximité de la zone de depart, suivre le fléchage à partir de l'église de La Bruyère.<br />
    Respecter les consignes des responsables parking pour le bon déroulement de la course, attention sens unique.</div>

    <h3>Plan du site</h3>
    <div class='practical_info'>
      <img src="/static/plancross.png"><br />
      Tout (garderie, consigne, restaurantion, boissons,..) se paie avec la carte “tickets”.<br />
      Ces cartes sont disponibles au secrétariat de course, dans le bâtiment, près des inscriptions.<br />
Si vous avez réservé un brunch, un ticket sera aussi disponible au même endroit.
    </div>

    <h3>Consignes</h3>
    <div class='practical_info'>Disponibles pendant les courses du matin (1.5 euro)</div>

    <h3>Douches</h3>
    <div class='practical_info'>Disponibles gratuitement</div>

    <h3>Garderie</h3>
    <div class='practical_info'>
      ouverte de 9h 30 à 13h<br />
      <ul>
        <li>Pour les moins de 3 ans : animée par les puéricultrices professionelles du Bébébus, 3€ par enfant a payer sur place</li>
        <li>Pour les plus de 3 ans : animée par les Pionniers de L’Unité de Saint-Exupéry (Scouts), 3€ par enfant a payer sur place</li>
      </ul>
      La garderie est organisée dans le jardin du curé, à +/-500m de la cantine.<br />
      C’est un endroit où les enfants ont de l’espace pour jouer en toute sécurité.<br /> 
      !!!!! Prévoyez assez de temps pour allez déposer et inscrire vos enfants.<br />
      L’accès sera fléché à partir de la cantine. Il faudra aussi payer avec la carte de consommations (disponible aux inscriptions).
    </div>

    <h3>Assistance médicale</h3>
    <div class='practical_info'>Présence d’un Service Premiers-Soins et ambulance pendant les courses du matin<br />
    Trousse premiers soins disponible dans la cantine apd 12h30.</div>

  </div>

  <div class='race' id='other'>
    <h2>Informations sportives</h2>
    <h3>Course individuelle 4km</h3>
    <div class='practical_info'>
    Pré-inscription à 5€ par adulte, participation gratuite pour les moins de 12 ans.<br />
    A partir du 23 septembre et sur place: 8€ par adulte.<br />
    Prix pour le premier homme, première dame, premier junior et premier > 55 ans.
    </div>
    <h3>Course individuelle 7km</h3>
    <div class='practical_info'>
    Pré-inscription à 5€ par adulte, participation gratuite pour les moins de 12 ans.<br />
    A partir du 23 septembre et sur place: 8€ par adulte.<br />
    Prix pour le premier homme, première dame, premier junior et premier > 55 ans.
    </div>

    <h3>Course individuelle 11km</h3>
    <div class='practical_info'>
    Pré-inscription à 5€ par adulte.<br />
    Inscriptions à partir du 23 septembre et sur place: 8€ par adulte.<br />
    Prix pour le premier homme, première dame, premier junior et premier > 55 ans.
    </div>

    <h3>Prix à remporter</h3>
    <div class='practical_info'>
      Un baptême de l’air en planeur ou parapente pour le premier homme, la première
dame, le premier sénior (+55ans) pour les courses 4-7-11km et le premier junior ( -16
ans) pour les 4 et 7 km<br />
      Remise des prix à 13h30. Attention: présence obligatoire du vainqueur ou de son représentant sans quoi le prix sera remis en jeu pour la tombola.</div>

    <h3>Course Coccinelles</h3>
    <div class='practical_info'>
    Petite course pour les enfants de - 6ans.<br />
    Participation gratuite.<br />
    Récompense pour chaque enfant.<br />
    Pas d'inscription nécessaire.<br />
​    </div>

    <h3>Course relais Family Fun</h3>
    <div class='practical_info'>
    Celle-ci se fera par équipe de 3 (1 adulte et 2 enfants (-12ans) sur une petite boucle de 500m.<br />
    Le premier coureur (adulte) fera la première boucle, puis sera accompagné du 2ième pour la 2ième boucle et le 3ième coureur les rejoint pour terminer la course avec ses coéquipiers pour les derniers 500m.<br />
    Le coureur 1 fera donc 1500m, le 2ième 1000m et le dernier seulement 500m….Des distances à la portée de tous !<br />
    La course idéale pour s’amuser en famille, parents, parrains, grands-parents ou même avec les copains de classe/scouts/foot….<br />

    Pré-inscription à 10€ par équipe. (1 inscription par équipe)<br />
    Inscriptions à partir du 23 septembre et sur place: 10€<br />
​
    Réfléchissez à un nom d'équipe original :-)<br />
    Des prix pour la première équipe, l'équipe avec la plus grande différence d'âge et l'équipe la plus originale.<br />
    </div>
  </div>

  <div class='race' id='other'>
    <h2>Activités</h2>
    <div class='practical_info'>
      <h3>Petite restauration</h3>
      <div>
      Brunch: Venez vous régaler, entre 8h et 11h, un buffet à volonté vous sera dressé pour seulement 10€ l’adulte, 5€ pour les enfants entre 6 et 12 ans et seulement 3€ pour les petits: oeufs, lard, tomates au four, pains au chocolat, yaourt de la ferme,….<br />
      En collaboration avec La Magie du Pain à Roux-Miroir<br />
      Merci de réserver par mail: <span id='email' @load></span><br />
      A partir de 11h30: stand hot dogs et hamburgers<br />
      Tout au long de la journée: bar ouvert avec softs, bières, vins, chips, friandises….
      </div>
      <h3>Animations</h3>
      <div class='practical_info'>
        <ul>
          <li>Château gonflable</li>
          <li>Stand de maquillage</li>
          <li>Grimage par “Funkoffers”</li>
          <li>Crazy Bubbels viendra animer la journée avec ses bulles de savon géantes</li>
      </ul>
      </div>
      <h3>Tombola</h3>
      <div class='practical_info'>
        <ul>
          <li>1 ticket offert à chaque coureur inscrit</li>
          <li>possibilité d’acheter des tickets tombola à 3€ ( en prévente chez les enfants ou sur
place, le jour-même)</li>
          <li>Tirage à 13h30 (si le participant est absent lors du tirage, on procède à un nouveau tirage)</li>
          <li>Super lots:</li>
            <ul>
              <li>2 vols VIP dans le cockpit d’un vol Brussels Airlines (!!min 12 ans)</li>
              <li>Wonderbox “Adrenaline et Aventure”</li>
              <li>4 cours au choix chez Bodyfun pour 2 personnes</li>
              <li>3 cours et abonnement d’un mois chez Crossfit Tienen</li>
              <li>bon massage</li>
              <li>2 bons de réduction (-50€), de Mill Optics</li>
              <li>livres “Belgian Air Force”</li>
            </ul>
        </ul>
      </div>
    </div>
  </div>
</div>
</template>
<script>
  import EmailObfuscate from 'email-obfuscate';
  export default {
    name: "Information",
    mounted () {
      this.hideEmail()
    },
    methods: {
      hideEmail () {
         var el = document.getElementById('email');
         console.log(el)
         EmailObfuscate(el, {
          // Email construct: name@domain.tld
          name: 'info',
          domain: 'familyfunrun',
          tld: 'be',
          // Alternate Text
          altText: 'Email'
        })
      }
    }
  }
</script>

<style lang="scss" scoped>
#where-when {
  display: inline-block;
  width: 70%;
  min-height: 100%;
  clear: both
}
.left {
  padding-top: 10%;
  position: relative;
  float: left;
}
.right {
  margin: 10px;
  float: right;
}
.race {
  margin: auto;
  border-radius: 7px;
  width: 80%;
  // background-color: #fffd;
  background-color: rgba(255, 255, 255, 0.7);
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}
.title {
  font-size: 60px;
}
.time {
  font-size: 44px;
}
.line {
  font-size: 24px;
}
h2 {
  padding-top: 30px;
}

h3 {
  font-size: 22px;
  text-align: left;
}
.practical_info {
  font-size: 20px;
  text-align: left;
}
</style>
