<template>
  <div class='container'>
    <div class='table'>
    <ul id='menu'>
      <li v-for='item in menuItems'>
        <router-link :to='item.link'>{{ item.label }}</router-link>
      </li>
    </ul>
  </div>
  </div>
</template>

<script>
export default {
  name: 'menu',
  data () {
    return {
      'menuItems': [
        {'link': {name: 'Home'}, 'label': 'Home'},
        {'link': {name: 'Program'}, 'label': 'Programme'},
//        {'link': {name: 'RegisterForm'}, 'label': 'Inscription'},
        {'link': {name: 'Information'}, 'label': 'Information'},
        {'link': {name: 'Photos'}, 'label': 'Photos'},
        {'link': {name: 'Results'}, 'label': 'Résultats'},
        {'link': {name: 'Contact'}, 'label': 'Contact'}
      ],
      'submenu': {
        'information': [
          {'link': '/#/parcours', 'label': 'parcours'},
          {'link': '/#/info_sport', 'label': 'Informations sportives'},
          {'link': '/#/info_pratique', 'label': 'Informations pratiques'},
          {'link': '/#/info_horeca', 'label': 'Animations'},
        ]
      }
    }
  }
}
</script>

<style lang='scss' scoped>

.table {
  display: table;   /* Allow the centering to work */
  margin: 0 auto;
}

a:hover, a:visited, a:link, a:active
{
    color: #fff;
    text-decoration: none;
}
ul#menu {
  min-width: 696px;
  list-style: none;
}

ul#menu li {
  display: inline;
  border: 1px solid #fff;
  background-color: #383;
  color: #fff;
  width: 200px;
  border-radius: 7px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 30px;
  font-weight: bold;
}

ul#menu li:hover {
  background-color: #5A5;
}

.menu {
  display: inline;
  margin: auto;
  width: 90%;
}
.menu-item {
  float: left;
}
.menu-item:hover {
  background-color: #494;
}
</style>
