<template>
  <div id='container'>
    <div class='content'>
      <table>
        <tr class='program-entry' v-for='entry in program'>
          <td class='time'>{{ entry.time }}</td>
          <td class='line'><p v-for='line in entry.lines'>{{ line }}</p></td>
        </tr>
      </table>
    </div>

    <div class='content'>
      <h2>Découvrez nos 3 parcours</h2>
      <div class='tracks'>
        <div class='track'>4 KM<br />
          <a href='/static/course_4km.jpg'><img class='track_img' src='/static/course_4km.jpg'></a>
        </div>
        <div class='track'>7 KM<br />
          <a href='/static/course_7km.jpg'><img class='track_img' src='/static/course_7km.jpg'></a>
        </div>
        <div class='track'>11 KM<br />
          <a href='/static/course_11km.jpg'><img class='track_img' src='/static/course_11km.jpg'></a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Program',
  data () {
    return {
      title: 'Programme',
      program: [
        {'time': '8h30-10h',
         'lines': ['Inscriptions sur place à 8€',
                   'Distribution des dossards'
                  ]
        },
        {'time': '10h10',
         'lines': ['Echauffement par Evi dance']
        },
        {'time': '10h20',
         'lines': ['Briefing pour les coureurs des 4-7-11kms']
        },
        {'time': '10h30',
         'lines': ['Départ des 4-7-11kms']
        },
        {'time': '13h30',
         'lines': ['Remise des prix', 'Tirage tombola']
        },
        {'time': '14h15',
         'lines': ['Course Coccinelles']
        },
        {'time': '14h45',
         'lines': ['Relais Family Fun']
        },
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
.content {
  font-size: 24px;
  margin: auto;
  margin-top: 50px;
  border-radius: 7px;
  width: 80%;
  // background-color: #fffd;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 30px;
  overflow:auto;
}

.tracks {
  width: 100%;
  float: left;
  vertical-align: middle;
  text-align: center;
}
.track {
  display: inline-block;
  width: 30%;
  border: 1px solid grey;
  border-radius: 7px;
}
.track_img {
  width: 90%;
  height: 150px;
  border-radius: 7px;
}

.parcours {
  font-size: 20px;
  font-weight: bold;
  list-style: none;
}
.title {
  font-size: 60px;
  color: #eee;
}

table {
  padding: 10px;
  margin: auto;
}

tr {
  border-top: 1px solid black;
}
td {
  border: 0px solid none;
  padding: 5px;
}
.time {
  border-radius: 7px;
  text-align: center;
  font-size: 44px;
  background-color: #dcc;
  min-height: 100%;
  font-weight: bold;
  width: 40%;
}
.line {
  padding-left: 20px;
  text-align: left;
  font-size: 24px;
/*  background-color: #fffb; */
  height: 100%;
}
</style>
