<template>
  <div id="container">
    <div class='content'>
      <h2>Coordonnées</h2>
      <div class='form_line'>
        <div class='input_label' id='email'>Adresse email</div>
        <div class='input_field_div'>
          <input type='text'
            class='input_field'
            v-model='registration.email'
            placeholder=''
            @input='validateEmail'>
        </div>
      </div>
      <div class='form_line'>
        <div class='input_label'>Numéro de téléphone</div>
        <div class='input_field_div'>
          <input type="text"
            class='input_field'
            v-model='registration.phone'
            placeholder=''
            @input='validatePhone'>
        </div>
      </div>
      <h2>Courses 4-7-11 KM</h2>
      <table id='runners' class="input-table">
        <tr>
          <th></th>
          <th>Prénom</th>
          <th>Nom</th>
          <th>Date de naissance</th>
          <th>Sexe</th>
          <th>Course</th>
          <th>Prix</th>
          <th>Action</th>
        </tr>
        <tr v-for="runner in runners" :key="runner.id">
          <td>{{ runner.id }}</td>
          <td>{{ runner.firstname }}</td>
          <td>{{ runner.lastname }}</td>
          <td>{{ runner.birthday }}</td>
          <td>{{ runner.sex }}</td>
          <td>{{ runner.race }}</td>
          <td>{{ runner.price }} €</td>
          <td><button class='runner_input' @click="deleteRunner(runner.id)">Supprimer</button></td>
        </tr>
        <tr>
          <td></td>
          <td><input type="text"
                class='runner_input'
                name="firstname"
                id='form_firstname'
                @change="setRunnerLine"></td>

          <td><input type="text"
                class='runner_input'
                name="lastname"
                id='form_lastname'
                @change="setRunnerLine"></td>

          <td><input type="text"
                class='runner_input'
                name="birthday"
                id='form_birthday'
                placeholder='JJ/MM/AAAA'
                @input='validateBirthday'
                @change='setRunnerLine'></td>

          <td><select name="sex" id='form_sex'
                class='runner_input'
                @change='setRunnerLine'>
                  <option value="M">Homme</option>
                  <option value="F">Femme</option>
              </select>
          </td>

          <td><select name="race" id='form_race'
                class='runner_input'
                @change='setRunnerLine'>
                  <option value="4KM">4 KM</option>
                  <option value="7KM">7 KM</option>
                  <option value="11KM">11 KM</option>
              </select>
          </td>

          <td id='form_price'>{{ this.new_runner_price }} €</td>

          <td><button class='runner_input' id='add-runner-button'
            @click="addRunner()" disabled>Ajouter</button></td>
        </tr>
      </table>

      <h2>Course relais fun</h2>
        <div class='input_label' id='email'>Nom de l'équipe</div>
        <div class='input_field_div'>
          <input type='text'
            class='input_field'
            v-model='relais.team'
            size=30
            placeholder='Equipe'
            @change='setTotal'>
        </div>
      <table id='runners' class="input-table">
        <tr>
          <th></th>
          <th>Prénom</th>
          <th>Nom</th>
          <th>Date de naissance</th>
          <th>Prix</th>
        </tr>
        <tr v-for="runner, idx in relais.runners" :key="runner.id">
          <td>{{ relais.runners[idx].label }}</td>
          <td><input class='runner_input' type="text" v-model='relais.runners[idx].firstname' name="firstname" id='form_firstname'></td>
          <td><input class='runner_input' type="text" v-model='relais.runners[idx].lastname'name="lastname" id='form_lastname'></td>
          <td><input class='runner_input' type="text" v-model='relais.runners[idx].birthday'name="birthday"
                     placeholder='JJ/MM/AAAA' id='form_birthday'
                     @change='setRunnerLine'></td>
          <td>{{ runner.price }} €</td>
        </tr>
      </table>

      <h2>Garderie</h2>
      <div class='form_line'>
        <div class='short_text'>Je souhaite déposer mes enfants à la garderie pendant la course<br />
        <select name='garderie-3' v-model='garderie.lt3'>
          <option id='0'>0</option>
          <option id='1'>1</option>
          <option id='2'>2</option>
          <option id='3'>3</option>
          <option id='4'>4</option>
        </select> enfant(s) de moins de 3 ans.
        <br />
        <select name='garderie-8' v-model='garderie.gt3'>
          <option id='0'>0</option>
          <option id='1'>1</option>
          <option id='2'>2</option>
          <option id='3'>3</option>
          <option id='4'>4</option>
        </select> enfant(s) de plus de 3 ans.
        <br />
        <b>Prix: </b>3€ par enfant, à payer sur place.<br />
      </div>
      </div>
      <hr />
      <h2>Paiement</h2>
      <div class='form-line'>
        <div class='short_text'>Je souhaite soutenir l'association des parents et je verse
        <input type=text
               v-model='registration.gift'
               size=3
               @change='setTotal'> € supplémentaires</div>
      </div>

      <div class='cgv'>
        <input type='checkbox' id='cgv1'>J'ai lu et j'accepte <a href='../../static/CGV.pdf'>les conditions générales de vente</a> et le <a href='../../static/reglement.pdf'>règlement de la course</a><br />
         <input type='checkbox' id='cgv2'>Dans le cadre de la règlementation sur la protection des données privées (RGPD), j'autorise l’utilisation de mes données aux besoins nécessaires à la gestion de mon inscription, de ma course et de ses résultats, ainsi que de la communication et des mailings liés.<br />
      </div>
      <div class='short-text'><b>Attention</b>: preuve de paiement obligatoire pour le retrait des dossards pour toute inscription à partir du 23 septembre.</div>

      <div id='errorMessages'>
        <ul>
          <li class='errorMessage' v-for='message in errorMessages'>{{ message }}</li>
        </ul>
      </div>
      <div id='payment_box_wrapper'>
        <div class='payment_box' id='credit_card_payment'>
          <h3>Paiement par carte de crédit</h3>
            <span class="payment_label">Total: {{ registration.payment_total }} €</span><br />
            <center><my-stripe class='payment_label' @cc-complete="ccComplete" id='ccard'></my-stripe></center><br />
            <button class='signup-button' id='signup1'
                   @click='signup("cc")' :disabled='!creditCard.complete'>Inscription</button>
        </div>

        <div class='payment_box' id='bank_transfer_payment'>
          <h3>Paiement par virement bancaire</h3>
          <span class="payment_label">Total: {{ registration.payment_total }} €</span><br />
          <span class='payment_label'>Numéro de compte: IBAN BE76 9731 1959 7495</span></br />
          <span class='payment_label'>Communication: {{ registration.email }} - {{ registration.token }}</span><br />
           <button class='signup-button' id='signup2'
               @click='signup("bt")'
               :disabled='!canRegister'>Inscription</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import _ from 'lodash'
import Stripe from '@/components/Stripe'
import { createToken } from 'vue-stripe-elements-plus'
import { chargeCreditCard, saveRunners } from '../utils/api.js'
export default {
  name: 'RegisterForm',
  components: {
    'my-stripe': Stripe
  },
  data () {
    return {
      creditCard: {
        complete: false,
        token: undefined
      },
      new_runner_price: 0,
      registration: {
        'token': this.generateToken(),
        'email': '',
        'phone': '',
        'gift': 0,
        'payment_total': 0,
        'payment_method': 'bank_transfer',
        'payment_status': '',
        'datetime': ''
      },
      garderie: {
        'lt3': 0,
        'gt3': 0
      },
      runners: [
      ],
      relais: {
        team: '',
        runners: [
          {'label': 'Adulte', 'firstname': '', 'lastname': '', 'birthday': '', 'price': 10},
          {'label': 'Enfant 1', 'firstname': '', 'lastname': '', 'birthday': '', 'price': 0},
          {'label': 'Enfant 2', 'firstname': '', 'lastname': '', 'birthday': '', 'price': 0},
        ]
      },
      productId: '',
      prices: {
        '4KM': 8,
        '7KM': 8,
        '11KM': 8,
        'RelaisFun': 10
      },
      // Read from strip.config.js
      stripeKey: '',
      errorMessages: [],
    }
  },
  computed: {
    stripe_product () {
      return {
        name: 'Inscription FamilyForRun',
        description: 'Inscription FamilyForRun',
        amount: this.registration.payment_total * 100
      }
    },
    canRegister () {
      return (this.registration.payment_total > 0 || this.runners.length > 0)
    }
  },
  mounted() {
    this.$store.commit({
      type: 'storeSet',
      name: 'stripe',
      value: {}
    })
  },
  methods: {
    toggleButton: function (btnName, state) {
      var btn = document.getElementById(btnName)
      if (state === 'enable') {
        btn.disabled = false
      } else {
        btn.disabled = true
      }
    },
    validLine() {
      return (
        document.getElementById('form_firstname').value !== '' &&
        document.getElementById('form_lastname').value !== '' &&
        document.getElementById('form_birthday').value !== '' &&
        this.validBirthday(document.getElementById('form_birthday').value)
      )
    },
    setRunnerLine: function (e) {
      this.new_runner_price = this.prices[document.getElementById('form_race').value]
      if (this.calcAge(document.getElementById('form_birthday').value) <= 12) {
        this.new_runner_price = 0
      }
      if (this.validLine()) {
        this.toggleButton('add-runner-button', 'enable')
      } else {
        this.toggleButton('add-runner-button', 'disable')
      }
    },
    setTotal: function (e) {
        this.registration.payment_total = this.runners.reduce((sum, runner) => sum + runner.price, 0);
        this.registration.payment_total += parseInt(this.registration.gift);
        if (this.relais.team !== '') {
          this.registration.payment_total += 10
        }
    },
    deleteRunner: function (id) {
      this.runners.splice(id-1, 1)
      for (var i=0; i < _.size(this.runners); i++) {
        this.runners[i].id = i + 1;
      }
      this.setTotal()
    },
    addRunner: function (e) {
      this.runners.push(
        {
          'id': _.size(this.runners) + 1,
          'firstname': document.getElementById('form_firstname').value,
          'lastname': document.getElementById('form_lastname').value,
          'birthday': document.getElementById('form_birthday').value,
          'sex': document.getElementById('form_sex').value,
          'race': document.getElementById('form_race').value,
          'price': this.new_runner_price
        }
      )
      this.setTotal()
      this.resetInputFields()
    },
    resetInputFields: function () {
      document.getElementById('form_firstname').value = ''
      document.getElementById('form_lastname').value = ''
      document.getElementById('form_birthday').value = ''
      document.getElementById('form_sex').value = 'M'
      document.getElementById('form_race').value = '4KM'
      this.new_runner_price = 0

    },
    validateEmail(e) {
      if (this.validEmail(e.target.value)) {
        e.target.style.backgroundColor = '#bfb'
      } else {
        e.target.style.backgroundColor = '#fbb'
      }
    },
    validatePhone(e) {
      if (this.validPhone(e.target.value)) {
        e.target.style.backgroundColor = '#bfb'
      } else {
        e.target.style.backgroundColor = '#fbb'
      }
    },
    validateBirthday(e) {
      if (this.validBirthday(e.target.value)) {
        e.target.style.backgroundColor = '#bfb'
      } else {
        e.target.style.backgroundColor = '#fbb'
      }
    },
    generateToken() {
      return Math.random().toString(36).substr(-6).toUpperCase();
    },
    validEmail(email) {
      var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(String(email).toLowerCase());
    },
    validPhone(phone) {
      var re_allowed_chars = /^\+?[\d\/\.\s]{9,}$/
      var re1 = /^[\d]{11}$/;
      var re2 = /^0[\d]{8}$/;
      var re3 = /^04[\d]{8}$/;
      if (!re_allowed_chars.test(String(phone))) {
        return false
      }
      var digits = String(phone).replace(/[\+\/\.\s]/g, '');
      if ( (phone[0] == '+' && re1.test(digits)) || re2.test(digits) || re3.test(digits)) {
        return true
      }
      return false
    },
    validBirthday(d) {
      var reg = /(0[1-9]|[12][0-9]|3[01])[- /.](0[1-9]|1[012])[- /.](19|20)\d\d/;
      if (d.match(reg)) {
        return true;
      }
      return false
    },
    calcAge(d) {
      var race_day = new Date(2018, 10-1, 7);
      var dateParts = d.split("/");
      var birthday = new Date(dateParts[2], dateParts[1] - 1, dateParts[0]);
      console.log((race_day - birthday) / 31557600000)
      return ((race_day - birthday) / (31557600000))
    },
    ensureMinimumOneRunner() {
      return (this.runners.length > 0) || (this.relais.team !== '')
    },
    formValidation() {
      this.errorMessages = []
      if (this.registration.email === '') {
        this.errorMessages.push('Merci de spécifier une adresse email')
      } else if (!this.validEmail(this.registration.email)) {
        this.errorMessages.push('Adresse email invalide')
      }

      if (this.registration.phone === '') {
        this.errorMessages.push('Merci de spécifier un numéro de téléphone')
      } else if (!this.validPhone(this.registration.phone)) {
        this.errorMessages.push('Numéro de téléphone invalide')
      }
      if (!this.ensureMinimumOneRunner()) {
        this.errorMessages.push("Merci d'ajouter au minimum un coureur. Vous avez sans doute oublié de cliquer sur le bouton Ajouter")
      }

      if (!document.getElementById('cgv1').checked || !document.getElementById('cgv2').checked) {
        this.errorMessages.push("Merci d'accepter nos conditions générales de vente")
      }
      if (this.errorMessages.length < 1) {
        document.getElementById('errorMessages').style.display = 'none';
        return true
      }
      document.getElementById('errorMessages').style.display = 'block';
      return false
    },
    displayErrorMessages() {
      this.errorMessages
    },
    ccComplete(payload) {
      this.creditCard.complete = true
      this.creditCard.token = payload.token.id
    },
    charge: function(token) {
      // createToken returns a Promise which resolves in a result object with
      // either a token or an error key.
      // See https://stripe.com/docs/api#tokens for the token object.
      // See https://stripe.com/docs/api#errors for the error object.
      // More general https://stripe.com/docs/stripe.js#stripe-create-token.
      console.log('Charging credit card now ...')
      console.log(this.creditCard.token);
      const json_payload = {
        stripe: {
          token: this.registration.token,
          email: this.registration.email,
          amount: this.registration.payment_total,
          stripe_token: this.creditCard.token
        }
      }
      chargeCreditCard(json_payload)
    },
    signup: function (payment_type) {
      if (this.formValidation()) {
        if (payment_type === 'cc') {
          this.registration.payment_method = 'credit_card'
          if (this.registration.payment_total > 0) {
            this.charge()
          }
        } else {
          this.registration.payment_method = 'bank_transfer'
        }
        this.$store.commit({
            type: 'storeSet',
            name: 'registration',
            value: this.registration
        })
        this.$store.commit({
            type: 'storeSet',
            name: 'runners',
            value: this.runners
        })
        this.$store.commit({
            type: 'storeSet',
            name: 'relais',
            value: this.relais
        })
        this.$store.commit({
            type: 'storeSet',
            name: 'garderie',
            value: this.garderie
        })
        var json_payload = {
          registration: this.registration,
          garderie: this.garderie,
          runners: this.runners,
          relais: this.relais,
        }
        saveRunners(json_payload);
        this.$router.push({name: 'Thanks'})
      } else {
        this.displayErrorMessages()
      }
    }
  }
}
</script>
<style lang="scss" scoped>
/*#container {
  background-image: url('/static/background.webp');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}*/
.form_line {
  display: block;
  overflow: auto;
}
.input_label {
  vertical-align: middle;
  float: left;
  height: 45px;
  text-align: left;
  width: 250px;
  font-weight: bold;
  margin-right: 20px;
  padding-bottom: 2px;
  font-size: 24px;
}
.input_field_div {
  float: left;
  text-align: left;
  padding: 0;
}
.runner_input {
  font-size: 20px;
}
.input_field {
  font-size: 32px;
}
.short_text {
  text-align: left;
  font-size: 18px;
}

#payment_box_wrapper {
  width: 100%;
  height: 220px;
}
.payment_box {
  margin: auto;
  margin: 10px;
  border-radius: 7px;
  background: #eee;
  height: 200px;
  border: 1px solid grey;
  width: 45%;
  float: left;
}
.payment_label {
  font-weight: bold;
  font-size: 20px;
}
.content {
  margin: auto;
  border-radius: 7px;
  width: 80%;
  // background-color: #fffd;
  background-color: rgba(255, 255, 255, 0.7);
  padding-left: 30px;
  padding-right: 30px;
}

.input-table {
  margin: auto;
  border-radius: 7px;
  width: 80%;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 23px;
}

#order-form {
  margin-top: 80px;
  border-radius: 7px;
  width: 50%;
  // background-color: #fffd;
  background-color: rgba(255, 255, 255, 0.7);

  padding: 30px;
}
.runners {
}
.runners th {
  background: #ddd;
  border: 2px solid grey;
}
h1, h2 {
  font-weight: normal;
  font-size: 28px;
  background: #bdb;
}
h3 {
  margin-top: 0px;
  border-radius: 7px;
  font-weight: normal;
  font-size: 20px;
  background: #ddd;
}
a {
  color: #42b983;
}
.signup-button {
  font-size: 28px;
  border-radius: 7px;
  background-color: #bdb;
  padding: 5px;
  border: 2px solid #9b9;
}
.cgv {
  text-align: left;
  font-size: 12px;
}

#errorMessages {
  display: none;
  background: #faa;
  border: 1px solid #c77;
  border-radius: 7px;
  margin: auto;
  width: 60%;
}

.errorMessage {
  list-style-type: none;
  display: list-item;
}

</style>
