<template>
  <div id='container'>
    <h1>Résultats</h1>
    <div class='races'>
      <button v-for="race, idx in races" class='raceSelector' :id=race @click="selectRace(idx)">{{ race }}</button>
    </div>
    <div class='course'>
      <h2>{{ races[selectedRace] }}</h2>
      <table class='results_table'>
        <tr><th>Pos</th><th>Temps</th><th>Dossard</th><th>Nom</th></tr>
        <tr v-for="runner, idx in results" :key="runner.id">
          <td class='seq'>{{ runner[0] }}</td>
          <td class='time'>{{ runner[1] }}</td>
          <td class='dossard'>{{ runner[2] }}</td>
          <td class='name'>{{ runner[3] }}</td>
        </tr>
      </table>
    </div>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        races: {
          '4km_dames': '4KM Dames',
          '4km_hommes': '4KM Hommes',
          '4km_juniors': '4KM Juniors',
          '4km_seniors': '4KM Seniors',
          '7km_dames': '7KM Dames',
          '7km_hommes': '7KM Hommes',
          '7km_juniors': '7KM Juniors',
          '7km_seniors': '7KM Seniors',
          '11km_dames': '11KM Dames',
          '11km_hommes': '11KM Hommes',
          '11km_juniors': '11KM Juniors',
          '11km_seniors': '11KM Seniors',
        },
        selectedRace: '4km_dames',
        runners: {
          '4km_dames': [
            [1, '0:23:13', '639', 'Manon Bataille'],
            [2, '0:24:54', '544', 'Kim Robert'],
            [3, '0:26:37', '576', 'Dorothée Bernard'],
            [4, '0:26:38', '673', 'Nadia Servaye'],
            [5, '0:26:46', '571', 'Sarah D’hondt'],
            [6, '0:27:52', '534', 'Chrystel Huygens'],
            [7, '0:27:54', '582', 'Colmant Ivy'],
            [8, '0:28:01', '567', 'Jill Boeykens'],
            [9, '0:28:05', '546', 'Amandine Moureau'],
            [10, '0:29:07', '642', 'Felicie Cuvelier'],
            [11, '0:29:08', '643', 'Anne-Sophie Boucquey'],
            [12, '0:30:33', '530', 'Sandy CAUWENBERGHS'],
            [13, '0:31:11', '510', 'Ilse KESTENS'],
            [14, '0:31:15', '652', 'Sophie Resseler'],
            [15, '0:31:35', '525', 'Lore VAN EYLEN'],
            [16, '0:33:29', '629', 'Barbara Niclaes'],
            [17, '0:36:12', '651', 'Astrid Labé'],
            [18, '0:36:14', '650', 'Julie Snappe'],
          ],
          '4km_hommes': [
            [1, '0:15:46', '614', 'Filip Wouters'],
            [2, '0:23:40', '638', 'Jung Fabry'],
            [3, '0:24:49', '670', 'Antoine Caudron'],
            [4, '0:26:48', '656', 'Gilles Harvie'],
            [5, '0:28:12', '625', 'Drew Descheemaeker'],
            [6, '0:30:36', '528', 'Mario CRABBE'],
            [7, '0:31:13', '509', 'Jelle APPEL'],
            [8, '0:32:44', '658', 'Tom Vanschonbroek'],
            [9, '0:38:58', '524', 'Filip DIELS'],
          ],
          '4km_juniors': [
            [1, '0:16:27', '580', 'Van den Bril Kobe'],
            [2, '0:17:28', '598', 'Joren Segers'],
            [3, '0:18:19', '581', 'Van dne Bril Witse'],
            [4, '0:18:40', '653', 'Lotte Tiesters'],
            [5, '0:18:48', '655', 'Mette Tiesters'],
            [6, '0:19:47', '698', 'Robin Lamboray'],
            [7, '0:20:27', '692', 'Liam Evrard'],
            [8, '0:20:29', '693', 'Sam De Wim'],
            [9, '0:21:59', '584', 'Seppe Celis'],
            [10, '0:22:03', '694', 'Servaes Wolters'],
            [11, '0:22:07', '686', 'Constantin Pirart'],
            [12, '0:22:23', '554', 'Gordon de Streel'],
            [13, '0:23:37', '637', 'Clément Fabry'],
            [14, '0:23:41', '697', 'Margaux Lamboray'],
            [15, '0:24:39', '640', 'Ernestine Cuvelier'],
            [16, '0:24:53', '666', 'Louise Caudron'],
            [17, '0:24:59', '633', 'Chloé Harvie'],
            [18, '0:25:16', '641', 'Victoria Cuvelier'],
            [19, '0:25:54', '591', 'Marike Ruyters'],
            [20, '0:26:35', '572', 'Fée Vandenbosch'],
            [21, '0:28:00', '592', 'Jolijn Ruyters'],
            [22, '0:28:13', '624', 'Maé Descheemaeker'],
            [23, '0:29:12', '511', 'Maarten APPEL'],
            [24, '0:30:27', '657', 'Brent Vanschonbroek'],
            [25, '0:30:30', '529', 'Nina CRABBE'],
            [26, '0:30:55', '512', 'Liese APPEL'],
            [27, '0:31:26', '527', 'Lotte DIELS'],
            [28, '0:31:47', '589', 'Valentine Foguenne'],
            [29, '0:32:28', '628', 'Baptiste Pastur'],
            [30, '0:32:46', '659', 'Ayco Vanschonbroek'],
            [31, '0:35:55', '557', 'Louise Verstraelen'],
            [32, '0:38:57', '526', 'Lieze DIELS'],
            [33, '0:47:55', '590', 'Mathias Foguenne'],
          ],
          '4km_seniors': [
            [1, '0:27:47', '688', 'Chris Michiels'],
            [2, '0:32:47', '630', 'Christian Niclaes'],
          ],
          '7km_dames': [
            [1, '0:26:42', '596', 'Sigrid Vanden Bempt'],
            [2, '0:36:36', '683', 'Isabelle Geerinck'],
            [3, '0:37:56', '543', 'Lieve Janssens'],
            [4, '0:41:06', '620', 'Valerie Sputael'],
            [5, '0:41:08', '623', 'Lies Vandenbosch'],
            [6, '0:41:27', '621', 'Marianne Winandy'],
            [7, '0:43:47', '564', 'Kathy Van Ransbeeck'],
            [8, '0:44:14', '667', 'Onja Samyn'],
            [9, '0:45:44', '668', 'Sandrine Melice'],
            [10, '0:46:55', '617', 'Morgane Dewevre'],
            [11, '0:48:48', '505', 'Katrien DESMEDT'],
            [12, '0:48:49', '514', 'Mieke PRIEM'],
            [13, '0:48:52', '518', 'Erna HENSKENS'],
            [14, '0:53:14', '578', 'Annaëlle Peeters'],
            [15, '0:54:08', '672', 'Margot Maloteau'],
            [16, '0:54:21', '678', 'Sonia Dejoncker'],
          ],
          '7km_hommes': [
            [1, '0:24:36', '597', 'Davy Segers'],
            [2, '0:28:48', '619', 'Nicolas Butz'],
            [3, '0:30:53', '647', 'Pascal Hierckens'],
            [4, '0:30:57', '695', 'Thibaut Page'],
            [5, '0:31:20', '635', 'Erik Utens'],
            [6, '0:34:29', '583', 'Moulin Hugues'],
            [7, '0:35:44', '570', 'Alain Lamboray'],
            [8, '0:35:59', '548', 'Daniel Peeters'],
            [9, '0:36:23', '558', 'Tim Schepers'],
            [10, '0:37:48', '542', 'Tom Robert'],
            [11, '0:39:57', '681', 'Pierre Roussel'],
            [12, '0:44:00', '545', 'Stijn Hallet'],
            [13, '0:44:46', '507', 'Bart MAERTEN'],
            [14, '0:44:52', '595', 'Mika Ebens'],
            [15, '0:45:15', '537', 'Bart Eelen'],
            [16, '0:45:26', '563', 'Siegfried Ysebaert'],
            [17, '0:45:43', '669', 'Philippe Goffin'],
            [18, '0:46:43', '517', 'Fadi AWAD'],
            [19, '0:48:22', '660', 'Patrick Lefevre'],
            [20, '0:48:58', '577', 'Lauro Schoonejans'],
          ],
          '7km_juniors': [
            [1, '0:36:21', '559', 'Lorin Schepers'],
            [2, '0:37:28', '632', 'Guillaume Harvie'],
            [3, '0:39:59', '682', 'Luc Roussel'],
            [4, '0:43:32', '565', 'Xander Ysebaert'],
            [5, '0:44:12', '665', 'Camil Caudron'],
            [6, '0:45:27', '566', 'Siebe Ysebaert'],
            [7, '0:48:05', '547', 'Ysaline Peeters'],
            [8, '0:48:55', '549', 'Alysée Peeters'],
            [9, '0:51:05', '508', 'Nele MAERTEN'],
          ],
          '7km_seniors': [
            [1, '0:35:23', '616', 'Marc Bachmann'],
            [2, '0:38:48', '634', 'Jan Van Nerum'],
            [3, '0:44:44', '679', 'Alain Gerard'],
            [4, '0:44:50', '533', 'Johan PUYNEERS'],
            [5, '0:46:30', '519', 'Patrick VAN MOORTER'],
            [6, '0:46:45', '516', 'Guido WILLEMS'],
            [7, '0:48:47', '611', 'Anny ABTS'],
            [8, '0:51:16', '503', 'Klaar DE BACKER'],
            [9, '0:56:37', '663', 'Marie-France Picard'],
            [10, '0:56:44', '607', 'Colette Lecocq'],
          ],
          '11km_dames': [
            [1, '0:51:55', '538', 'Rosanne Vanpee'],
            [2, '0:52:50', '560', 'Anneleen Cosemans'],
            [3, '0:53:12', '689', 'Christel Cravatte'],
            [4, '0:53:29', '687', 'Delphine Permentier'],
            [5, '0:55:42', '574', 'Mathilde Christiaens'],
            [6, '0:57:42', '569', 'Marie Claus'],
            [7, '1:00:02', '601', 'Florence Mulkens'],
            [8, '1:00:33', '677', 'Virginie Segers'],
            [9, '1:00:47', '613', 'Kathleen COESSENS'],
            [10, '1:04:02', '684', 'Andre Nelussi'],
            [11, '1:04:35', '685', 'Miet Struys'],
            [12, '1:08:56', '502', 'Claire BEUNEU'],
            [13, '1:12:27', '661', 'Mia Spreutels'],
            [14, '1:14:54', '609', 'Delphine Romainville'],
            [15, '1:14:57', '610', 'Sarah Strack'],
            [16, '1:15:56', '646', 'Carine Van grieken'],
          ],
          '11km_hommes': [
            [1, '0:40:24', '649', 'Mathieu Seha'],
            [2, '0:41:53', '664', 'Jasper Jodermans'],
            [3, '0:45:54', '636', 'Augustin Pirlot'],
            [4, '0:47:33', '627', 'David Martinez'],
            [5, '0:48:32', '645', 'Nicolas Ovart'],
            [6, '0:48:46', '573', 'Mathieu Lenaerts'],
            [7, '0:50:09', '615', 'Fabian Guillaume'],
            [8, '0:50:49', '699', 'Noel Vandenhouten'],
            [9, '0:51:26', '626', 'Christophe Canion'],
            [10, '0:51:54', '539', 'Allaart Vermaut'],
            [11, '0:52:08', '568', 'Bart Ruyters'],
            [12, '0:52:20', '644', 'Peter Hendrickx'],
            [13, '0:52:26', '553', 'Grégory de Streel'],
            [14, '0:53:38', '506', 'Jo LIBENS'],
            [15, '0:55:17', '690', 'Damien Riga'],
            [16, '0:56:08', '691', 'Christophe Reyns'],
            [17, '0:56:41', '700', 'Seppe Vandenhoven'],
            [18, '0:57:17', '541', 'Peter Robert'],
            [19, '0:57:28', '602', 'Thomas Gerard'],
            [20, '0:57:36', '618', 'Nicolas Hock'],
            [21, '0:57:37', '622', 'Vincent Rombaut'],
            [22, '0:58:25', '608', 'Fra Simon'],
            [23, '0:59:12', '515', 'Patrick VANSPAUWEN'],
            [24, '0:59:37', '551', 'Lenny Poron'],
            [25, '0:59:48', '606', 'Bart Vromman'],
            [26, '0:59:50', '550', 'Kevin Vandenhende'],
            [27, '0:59:54', '600', 'vincent baken'],
            [28, '1:00:40', '676', 'Laurent Saublens'],
            [29, '1:00:52', '654', 'Benoit Laminne'],
            [30, '1:02:28', '588', 'François Foguenne'],
            [31, '1:04:41', '575', 'Jean-Luc Prail'],
            [32, '1:05:32', '680', 'Martin Cain'],
            [33, '1:05:41', '585', 'Michel lequim'],
            [34, '1:12:06', '631', 'Michael Harvie'],
            [35, '1:13:57', '671', 'Christophe Pans'],
            [36, '1:15:32', '555', 'Serge Fortemps'],
          ],
          '11km_juniors': [
            [1, '0:53:48', '587', 'Evariste Colot'],
          ],
          '11km_seniors': [
            [1, '0:51:32', '648', 'Abdel Elkalisch'],
            [2, '0:55:48', '532', 'Erwin HEYMANS'],
            [3, '0:57:12', '536', 'Henk Robberecht'],
            [4, '0:58:35', '522', 'Ludo WILLEMS'],
            [5, '1:01:22', '520', 'Yvan BAETEN'],
            [6, '1:08:58', '501', 'Hugo WILLEMS'],
            [7, '1:10:08', '521', 'Arlette SMETS'],
            [8, '1:11:25', '531', 'Rudy VAN HORENBEEK'],
            [9, '1:12:33', '523', 'Nadine SCHEEPMANS'],
            [10, '1:17:19', '674', 'Francis Wouters'],
            [11, '1:17:21', '662', 'Pascale Dormaels'],
            [12, '1:17:59', '675', 'Arlette Ceccotti'],
          ],
        }
      }
    },
    computed: {
      results () {
        return this.runners[this.selectedRace]
      }
    },
    methods: {
      selectRace: function (race) {
        this.selectedRace = race
      }
    }
  }
</script>

<style lang='scss' scoped>
li {
  list-style: none;
}

table {
    margin: 0 auto; /* or margin: 0 auto 0 auto */
}
.races {
  margin: 0 auto;
  width: 60%;
}

tr {
  background-color: #ccc;
  border: 1px solid none;
}

th {
  background-color: #bbb;

}
.seq {
  width: 20px;
  text-align: right;
}

.name {
  padding-left: 10px;
  width: 300px;
  text-align: left;
}
.time {
  width: 100px;
  text-align: center;
}
.dossard {
  width: 100px;
  text-align: center;
}

.course {
  text-align: center;
}

#container {
  font-size: 20px;
  margin: auto;
  margin-top: 50px;
  border-radius: 7px;
  width: 80%;
  // background-color: #fffd;
  background-color: rgba(255, 255, 255, 0.7);

  padding: 30px;
}
</style>