<template>
  <div id='sponsors'>
    <div v-for='sponsor in sponsors' :class='sponsorBoxClass'>
      <a :href='sponsor.link' target="_blank"><span></span><img :src='sponsor.logo' :class='logoClass'></a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'sponsors',
  props: ['frontpage'],
  data() {
    return {
      'list_sponsors': [
        {'name': 'CBC', 'logo': '/static/sponsors/cbc.png',
         'link': 'https://www.kbc.be/particuliers/fr/agence/2305-HAMME-MILLE-CHAUSSEE%20DE%20LOUVAIN-15.html',
         'important': true},
        {'name': 'SN', 'logo': '/static/sponsors/sn.png',
         'link': 'https://www.brusselsairlines.com', 'important': true},
        {'name': 'WonderBox', 'logo': '/static/sponsors/wonderbox.png',
         'link': 'http://www.wonderbox.be', 'important': true},
        {'name': 'Association des parents', 'logo': '/static/sponsors/ap.jpg',
         'link': 'https://www.facebook.com/AP.LA.BRUYERE/ ', 'important': false},

        {'name': "D'Store", 'logo': '/static/sponsors/dstore.png',
         'link': 'https://dstore.be', 'important': false},
        {'name': "Decathlon", 'logo': '/static/sponsors/decathlon.png',
         'link': 'https://www.decathlon.be/fr/', 'important': false},
        {'name': "Mes ptits papiers", 'logo': '/static/sponsors/mpp.png',
         'link': 'http://www.mespetitspapiers.be', 'important': false},
        {'name': 'Accountancy Peeters', 'logo': '/static/sponsors/peeters.png',
         'link': '', 'important': false},

        {'name': 'Bebebus', 'logo': '/static/sponsors/bebebus.jpg',
         'link': 'http://www.beauvechain.eu/vie-pratique/jeunesse/bebebus', 'important': true},
        {'name': 'DoggyBello', 'logo': '/static/sponsors/doggybello.png',
         'link': 'https://www.toilettage-doggybello.be', 'important': false},
        {'name': 'Hair Beauty', 'logo': '/static/sponsors/hairbeauty.jpg',
         'link': 'https://www.hairbeautyathome.be/', 'important': false},
        {'name': 'Commune de Beauvechain', 'logo': '/static/sponsors/beauvechain.jpg',
         'link': 'http://www.beauvechain.eu/', 'important': false},
        {'name': 'GeoTherma', 'logo': '/static/sponsors/geotherma.jpg',
         'link': 'http://www.geotherma.be/', 'important': false},
        {'name': 'Avia', 'logo': '/static/sponsors/avia.png',
         'link': 'http://www.avia-airsports.com/', 'important': false},
        {'name': 'Eva Gilis', 'logo': '/static/sponsors/evagilis.png',
         'link': 'http://www.eva-gilis.be', 'important': false},
        {'name': 'Funkoffers', 'logo': '/static/sponsors/funkoffers.png',
         'link': 'http://www.funkoffers.be', 'important': false},
        {'name': 'District10', 'logo': '/static/sponsors/district10.jpg',
         'link': 'http://www.district10-crossfit.be', 'important': false},
        {'name': 'Mill Optics', 'logo': '/static/sponsors/milloptics.png',
         'link': 'https://www.milloptics.be/', 'important': false},
        {'name': 'La magie du pain', 'logo': '/static/sponsors/magiedupain.png',
         'link': 'https://www.lamagiedupain.com/', 'important': false},
        {'name': 'Crazy Bubbles', 'logo': '/static/sponsors/crazybubbles.jpg',
         'link': 'https://www.crazybubbles.eu/', 'important': false},
      ]
    }
  },
  computed: {
    logoClass () {
      if (this.frontpage) {
        return 'logo-frontpage'
      } else {
        return 'logo'
      }
    },
    sponsorBoxClass () {
      if (this.frontpage) {
        return 'sponsorBox-frontpage'
      } else {
        return 'sponsorBox'
      }
    },
    sponsors () {
      if (! this.frontpage) {
        return this.list_sponsors
      }
      var l = []
      for (var i=0; i < this.list_sponsors.length; i++) {
        //if (this.list_sponsors[i]['important']) {
          l.push(this.list_sponsors[i])
        //}
      }
      return l
    }
  }
}
</script>

<style lang="scss" scoped>

#sponsors {
  width: 100%;
  float: left;
  text-align: center;
  vertical-align: middle;
 // TODO(seb): horizontal align
}
.sponsorBox {
  display: inline-block;
  background-color: #fff;
  vertical-align: middle;
  text-align: center;
  margin-right: 15px;
  margin-bottom: 15px;
  width: 300px;
  height: 300px;
  border-radius: 7px;
  border: 1px solid #bdbdbd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
.sponsorBox * {
  vertical-align: middle;
}

.sponsorBox span {
  display: inline-block;
  height: 100%;
  width: 1px;
}

.logo {
  max-width:290px;
  max-height:290px;
  width: auto;
  height: auto;
}

.sponsorBox-frontpage {
  display: inline-block;
  background-color: #fff;
  vertical-align: middle;
  text-align: center;
  margin-right: 15px;
  margin-bottom: 15px;
  height: 100px;
  width: 200px;
  border-radius: 7px;
  border: 1px solid #bdbdbd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

.sponsorBox-frontpage * {
  vertical-align: middle;
}

.sponsorBox-frontpage span {
  display: inline-block;
  height: 100%;
  width: 1px;
}

.logo-frontpage {
  max-width:199px;
  max-height:99px;
  width: auto;
  height: auto;
}
</style>
