<template>
  <div>
    <card class='stripe-card'
      :class='{ complete }'
      :stripe="stripeKey"
      :options='stripeOptions'
      @change='isComplete($event.complete)'
    />
  </div>
</template>

<script>
import { getStripeKey } from '../../config/stripe.config.js'
import { Card, createToken } from 'vue-stripe-elements-plus'
import { chargeCreditCard } from '../utils/api.js'

export default {
  data () {
    return {
      token: '',
      complete: false,
      stripeKey: getStripeKey(process.env.NODE_ENV),
      stripeOptions: {
        hidePostalCode: true
        // see https://stripe.com/docs/stripe.js#element-options for details
      }
    }
  },

  components: { Card },

  methods: {
    isComplete (status) {
      if (status) {
        var v = this
        createToken().then(
          function(data) {
            v.$emit("cc-complete", {'token': data.token})
          }
        )
      }
    }
  }
}
</script>

<style lang='scss' scoped>
.stripe-card {
  width: 300px;
  border: 1px solid grey;
}
.stripe-card.complete {
  border-color: green;
}
</style>