<template>
  <div id='container'>
    <h1>Merci pour votre inscription</h1>
    <div>Nous avons bien reçu votre inscription, veuillez bien noter votre token <b>{{ registration.token }}</b>, il vous sera utile pour la remise des dossards.<br />
    Vous devriez avoir reçu un email de confirmation.
    Si vous ne l'avez pas reçu, contactez-nous, votre inscription n'est peut-être pas enrégistrée.
    </div>
    <br />
    <div v-if='registration.payment_method === "bank_transfer"'>
    Afin de confirmer votre inscription, merci de verser <b>{{ registration.payment_total }} €</b> sur le compte de l'association des parents <b>BE76 9731 1959 7495</b><br />avec pour communication votre token et votre adresse email <b>{{ registration.token }} - {{ registration.email }}</b>
    </div>
    <br />
    <div>
      Au plaisir de vous retrouver le 7 octobre,<br />
      L'équipe Family Fun Run
    </div>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        registration: this.$store.state.registration,
        runners: this.$store.state.runners
      }
    }
  }

</script>

<style lang='scss' scoped>
li {
  list-style: none;
}
#container {
  font-size: 20px;
  margin: auto;
  margin-top: 50px;
  border-radius: 7px;
  width: 80%;
  // background-color: #fffd;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 30px;
}
</style>