<template>
  <div id="app">
    <my-header></my-header>
    <router-view/>
    <div class='spacer'></div>
    <my-footer class='footer'></my-footer>
  </div>
</template>

<script>
import Header from '@/components/Header'
import Footer from '@/components/Footer'
export default {
  name: 'App',
  components: {
    'my-header': Header,
    'my-footer': Footer
  }
}
</script>

<style>
body {
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-image: url('/static/pagodes.jpg');
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;              /* optional, center the image */
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.spacer {
  height: 15px; /* Leave some space above the footer in the bottom */
  flex: 1;
}
.footer {
  height: 0px; /* the footer's total height */
}
</style>
